extends layout

block content
  div(id="map", width="80%", height="600px", class="core-ui")
    include ../static/world.svg
  div(id="sidebar", width="18%", height="600px", class="core-ui")
    h2(id="country_name") Select a country